.bottomArea {
    position: fixed;
    bottom: 10px;
    left: 0;
    right: 0;
    width: 90%;
    margin: 10px auto;
    display: flex;
    justify-content: space-around;
    /* background-color: red; */
}

.addAgentButton {
    font-size: 20px;

}

.infoMessage {
    font-size: 18px;
    width: fit-content;
    height: fit-content;
    background-color: rgba(173, 216, 230, 0.397);
    border-radius: 10px;
    padding: 0 5px;
    max-width: 70%;
    position: fixed;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.app,
main {
    height: 100%;
}

main {}



.keyContainer {
    text-align: center;
}

.copyButton {
    height: min-content;
    width: min-content;
    margin: 15px;
}

.keyField {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.agentsPage {
    height: fit-content;
}

.agentsPage > main {
    height: fit-content;
}
.agent-cards-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 5px;
    /* border: 2px red solid; */
    padding: 5px;
    margin: 10px
}

.agent-card {
    border: 1px grey solid;
    border-radius: 15px;
    padding: 4px 10px;
    background-color: lightblue;

    /* width: fit-content; */
}


.side-bar {
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: start;
    background-color: lightblue;
    border: 1px rgb(197, 197, 197) solid;
}

.side-bar > nav {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: start;
    align-items: stretch;
    
}

.side-bar .side-bar-button {
    border-radius: 6px;
    border:none;
    /* border: 1px solid rgb(178, 183, 185); */
    padding: 5px;
    margin: 5px;
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color:inherit;
}

.side-bar-button-title {
    flex-grow: 1;
    text-decoration: none;
}

.side-bar-button > * {
    padding: 0 5px;
    color: black;
}
.side-bar-button {
    text-decoration: none;
}

.side-bar  .side-bar-button:hover {
    background-color: rgb(240, 231, 216);
}

.side-bar  .side-bar-button.active {
    background-color: rgb(240, 162, 61);
}